@import "tailwindcss";

@theme {
  /* Colors */

  --color-foreground: hsl(232, 100%, 97%);

  --color-brand-200: hsl(229, 59%, 53%);
  --color-brand-300: hsl(228, 61%, 40%);
  --color-brand-500: hsl(227, 73%, 29%);

  --color-primary-200: hsl(218, 100%, 81%);
  --color-primary-300: hsl(220, 100%, 70%);
  --color-primary-500: hsl(230, 100%, 60%);

  --color-secondary-200: hsl(14, 100%, 75%);
  --color-secondary-300: hsl(17, 100%, 67%);
  --color-secondary-500: hsl(24, 100%, 56%);

  --color-error-200: hsl(351, 100%, 73%);
  --color-error-300: hsl(354, 100%, 65%);
  --color-error-500: hsl(351, 90%, 55%);

  --color-success-200: hsl(168, 100%, 84%);
  --color-success-300: hsl(154, 100%, 73%);
  --color-success-500: hsl(144, 92%, 46%);

  /* Typography */

  --font-jakarta: "Plus Jakarta Sans", sans-serif;

  --text-title: 7.5rem;

  --leading-compressed: 1.2;
  --leading-compact: 1.42;

  /* Sizing */
  --spacing-21: 5.25rem;
  --spacing-22: 5.5rem;
  --spacing-23: 5.75rem;
  --spacing-25: 6.25rem;
  --spacing-26: 6.5rem;
  --spacing-27: 6.75rem;
  --spacing-29: 7.25rem;

  --spacing-73: 18.25rem;
  --spacing-74: 18.5rem;
  --spacing-75: 18.75rem;
  --spacing-76: 19rem;
  --spacing-77: 19.25rem;
  --spacing-78: 19.5rem;
  --spacing-79: 19.75rem;

  --spacing-100: 25rem;
  --spacing-101: 25.25rem;
  --spacing-102: 25.5rem;
  --spacing-103: 25.75rem;
  --spacing-104: 26rem;
  --spacing-105: 26.25rem;
}

@utility container {
  @apply mx-auto max-w-6xl;
}

@utility text-h1 {
  @apply text-title/compressed font-bold;
}

@utility text-h2 {
  @apply text-7xl/compressed font-bold;
}

@utility text-h3 {
  @apply text-4xl/compressed;
}

@utility text-h4 {
  @apply text-3xl/compressed;
}

@utility text-h5 {
  @apply text-2xl/compressed;
}

@utility text-h6 {
  @apply text-xl/compressed;
}

@layer base {
  body {
    @apply font-jakarta bg-neutral-50;
  }

  button {
    cursor: pointer;
  }
}
