@theme {
  --spacing-21: 5.25rem;
  --spacing-22: 5.5rem;
  --spacing-23: 5.75rem;
  --spacing-25: 6.25rem;
  --spacing-26: 6.5rem;
  --spacing-27: 6.75rem;
  --spacing-29: 7.25rem;

  --spacing-73: 18.25rem;
  --spacing-74: 18.5rem;
  --spacing-75: 18.75rem;
  --spacing-76: 19rem;
  --spacing-77: 19.25rem;
  --spacing-78: 19.5rem;
  --spacing-79: 19.75rem;

  --spacing-100: 25rem;
  --spacing-101: 25.25rem;
  --spacing-102: 25.5rem;
  --spacing-103: 25.75rem;
  --spacing-104: 26rem;
  --spacing-105: 26.25rem;
}
